body {
    margin: 0;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    border-radius: 0;
    background-color: #3e2f5f;
}

.link {
    position: relative;
    top: 30%;
    right: -34%;
    padding: 8px 20px 0 20px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
}

#insta-link {
    color: #484848;
}

#insta-link:hover {
    color: #ec74d8;
}

.nav-brand-wrap {
    position: absolute;
    top: 20%;
    left: 2%;
}

.logo {
    width: 20%;
    border-radius: 2%;
}

.hero {
    background: url(../assets/images/lilabi.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.color-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 57, 132, 0.71);
}

.hero-content-container h1 {
    color: white;
    margin-bottom: 30px;
    font-family: "Satisfy", cursive;
    font-size: 5em;
    animation: fadeIn 800ms ease-out;
    text-align: center;
}

.hero-content-container .buttons {
    display: flex;
    justify-content: center;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.buttons .button {
    margin: 4px;
    width: 160px;
    padding: 10px;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 300ms;
}

.button.cta:hover,
.button.secondary:hover {
    background-color: white;
    color: #ec74d8;
    transform: scale(0.9);
}

.button.secondary {
    background-color: transparent;
    border: 4px solid #e2e2e2;
    font-size: 14px;
    color: #e2e2e2;
}

.button.cta {
    background-color: #ec74d8;
    line-height: 2;
    font-size: 14px;
    color: white;
}

.hero-about {
    background: url(../assets/images/vingbi.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.color-overlay-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 57, 132, 0.71);
}

.hero-about-content-container {
/ / background-color: #31b0d5;
}

.hero-about-content-container h1 {
    color: white;
    font-family: "Satisfy", cursive;
    font-size: 5em;
    animation: fadeIn 800ms ease-out;
}

.hero-kontact {
    background: url(../assets/images/pinkbi.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.color-overlay-kontact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 57, 132, 0.71);
}

.hero-kontact-content-container h1 {
    color: white;
    font-family: "Satisfy", cursive;
    font-size: 5em;
    animation: fadeIn 800ms ease-out;
}

.hero-blog {
    background: url(../assets/images/bluebi.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.color-overlay-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 57, 132, 0.71);
}

.hero-blog-content-container h1 {
    color: white;
    font-family: "Satisfy", cursive;
    font-size: 5em;
    animation: fadeIn 800ms ease-out;
}

.container-blog-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    padding: 50px;
    box-sizing: border-box;
    background-color: #5b3984;
}

#blogpost {
    width: 60%;
}

.blog-text {
    width: 100%;
    border-radius: 4px;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
    background-color: white;
}

.blog-text h1 {
    font-size: 32px;
    padding-bottom: 10px;
    color: #484848;
}


.blog-text p {
    font-size: 18px;
    padding-bottom: 10px;
    color: #484848;
}

.vlog {
    margin: 10px 0 10px 0;
}

.container-intro-text {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    padding: 86px 50px;
    box-sizing: border-box;
    color: white;
    background: #5b3984;
}

.intro-text {
    width: 50%;
}

hr {
    border-color: #ec74d8;
}

.intro-text h1 {
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
}

.intro-text p {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.container-about-text {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    padding: 50px;
    box-sizing: border-box;
    color: white;
    background: #5b3984;
}

.about-text {
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.about-text h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 38px;
}

.about-text p {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.container-images {
    display: flex;
    width: 100%;
    min-height: 60vh;
    padding: 50px;
    box-sizing: border-box;
    /*background-color: #e2e2e2;*/
}

.images-wraper {
    width: 100%;
}

h2.section-title {
    text-align: center;
    font-family: "Satisfy", cursive;
    font-size: 4em;
    margin: 0;
    color: #5b3984;
    border-bottom: 1px solid #ec74d8;
    padding: 16px;
}

.natural-flavor-container, .flavored-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    border-radius: 4px;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #484848;
    background-color: white;
}

.honey {
    width: 20%;
    padding: 40px;
    margin: 12px;
}

.flavored-container, .honey {
    display: flex;
    flex-wrap: wrap;
}

.honey-images {
    width: 200px;
    height: 200px;
    padding: 2px;
}

.honey-images-big {
    width: 200px;
    height: 220px;
    padding: 2px;
}

.product-text {
    margin-left: 16px;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
}

.footer {
    background-color: #473169;
    color: #e2e2e2;
    padding: 20px;
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
    text-align: center;
}

.fblogo {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.instalogo {
    width: 30px;
    height: 30px;
    margin-left: 2px;
}

.social-media {
    text-align: center;
    padding: 6px 0 0 0;
}

.container-contact-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 100%;
    min-height: 60vh;
    padding: 50px;
    box-sizing: border-box;
    color: white;
    background: #5b3984;
}

.contact-text {
    width: 50%;
    text-align: start;
    font-family: 'Open Sans', sans-serif;
}

.contact-text h1 {
    margin-bottom: 20px;
    font-size: 38px;
}

.contact-text, p {
    font-size: 18px;
    font-weight: lighter;
}

.contact-list-container {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    width: 54%;
}

.contact-list {
    padding-bottom: 8px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
